body {
	color:black;
	background-color:#1A916D;

 }
 .intro-header{
 	background-image: url('https://uwaterloo.ca/writing-and-communication-centre/sites/ca.writing-and-communication-centre/files/uploads/images/public-speaking.jpg');
 }

 article {
 	background-color:#1A916D;
 } 
 .subheading{
 	font-family: Rockwell
 }

 .section-heading{
 	font-family: "Rockwell extra bold"




	
	
		
	