body{
	background-color:#1A916D;
 }

h1{ 
  font-family:"Rockwell Extra Bold";
 }

 .form-control::placeholder{
 	color: white;
 	font-style: italic;
 }

 .form-control{
 	color: black;
 }

 .copyright{
 	color: black;
 }

 p{
 	color: black;
 }